* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

a {
    color: inherit;
}

a:hover {
    color: #aaa;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

table tr {
    border: 1px solid #13627B;
}

table tbody tr:nth-child(odd) {
    background: lightblue;
}

table tr td,
table tr th {
    padding: 10px;
}

.col-1-2 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
