html,
body {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

form {
    text-align: center;
}

input {
    font-size: inherit;
    font-family: inherit;
    padding: 10px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.error {
    color: red;
}

#password {
    display: none;
}

#viewPassword:checked + #password {
    display: inline;
}
